@model AppMeteo.Models.Valeur

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Valeur</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ValeurId)

        <div class="form-group">
            @Html.LabelFor(model => model.Temperature, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Temperature)
                @Html.ValidationMessageFor(model => model.Temperature)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pression, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pression)
                @Html.ValidationMessageFor(model => model.Pression)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Precipitations, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Precipitations)
                @Html.ValidationMessageFor(model => model.Precipitations)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ATMO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ATMO)
                @Html.ValidationMessageFor(model => model.ATMO)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
