@model AppMeteo.Models.Valeur

@{
    ViewBag.Title = "Recherche par pays";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Recherche</h2>

<h6>Sélectionnez le pays :</h6>
        @using (Ajax.BeginForm("Recherche", "Pays",
        new AjaxOptions()
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "var obj=JSON.parse(data);"+
            "if($('#ajaxResponse').html()!=''){"+
            "$('#ajaxResponse>div:first').remove();}"+
            "var output='';" +
            "var innerOutput='';"+
            "var extraInnerOutput='';"+
             "$.each(obj.Stations, function(i, item){" +
             "output ='<h4>Code postal: '+item.CodePostal + '<hr></h4></div>';" +
             "$.each(item.Mesures, function(i, item){" +
            "innerOutput+='<h5>Instant:'+item.MomentPrelevement+'</h5>"+
            "</br>Température: '+item.Valeur.Temperature+'</br>Pression: '+item.Valeur.Pression+'</br>précipitations: '+item.Valeur.Precipitations+'</br>ATMO: '+item.Valeur.ATMO;" +
            "if(i==9){"+
            "$('<div class=\"target\">').append(output).append(innerOutput).appendTo('#ajaxResponse');"+
            "innerOutput='';}" +
            ";});});",
        }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Mesure.Station.Pays.Nom, "Pays", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Pays", (SelectList)ViewBag.PaysId, "Sélectionner un pays")
                        @Html.ValidationMessageFor(model => model.Mesure.Station.Pays.Nom)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Rechercher" class="btn btn-default" />
                    </div>
                </div>


            </div>
        }
<div id="ajaxResponse"></div>